body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.input-text {
	margin-left: 20px;
}

.navbar {
	margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: auto;
    padding: 10px;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }