{% include 'viewHeader.html' %}

        <br>
        <br>
		<table style="width: 59.5%; background-color:whitesmoke; border-radius: 5px; margin: auto;" class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Lien</th>
                        <th scope="col">Message</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tweet in tweets %}
                        <tr>
                            <td>{{ tweets.id }}</td>
                            <td>{{ tweets.date }}</td>
                            <td>{{ tweets.user }}</td>
                            <td>{{ tweets.link }}</td>
                            <td>{{ tweets.message }}</td>
                            <form action="/inputComparisonTweet/{{ tweets.id }}" Method="post">
                                <td><button class="btn btn-danger">Comparer</button></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            <br/>
            <form action="/" Method="get" style="margin: auto;">
                <td><button class="btn btn-warning">Retour</button></td>
            </form>
            </table>

{% include 'viewFooter.html' %}