{% include 'viewHeader.html' %}

        <br>
        <br>
		<table style="width: 59.5%; background-color:whitesmoke; border-radius: 5px; margin: auto;" class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Lien</th>
                        <th scope="col">Langue</th>
                        <th scope="col">Contenu</th>
                        <th scope="col">Tag</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.link }}</td>
                            <td>{{ article.lang }}</td>
                            <td>{{ article.text }}</td>
                            <td>{{ article.tag }}</td>
                            <form action="/comparisonById/{{ idTweet }}/{{ article.id }}" Method="post">
                                <td><button class="btn btn-danger">Comparer</button></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            <br/>
            <form action="/" Method="get" style="margin: auto;">
                <td><button class="btn btn-warning">Retour</button></td>
            </form>
            </table>

{% include 'viewFooter.html' %}