{% include 'viewHeader.html' %}

        <br>
        <br>
		<div style="text-align: center; color: white">
            <h1 style="text-align: center;">Bienvenue!</h1>
            <br>
            <a href="/inputScrapping" class="btn btn-lg btn-warning">Grattage</a>
            <a href="/S3toRDS" class="btn btn-lg btn-warning">Maj RDS</a>
            <a href="/inputComparison" class="btn btn-lg btn-warning">Comparaison</a>
            <a href="/viewArticles" class="btn btn-lg btn-warning">Voir articles</a>
            <a href="/viewTweets" class="btn btn-lg btn-warning">Voir tweets</a>
		</div>
        <div class="hover_img" style="text-align: right;">
            <a>.<span><img style="margin-left: auto" src="{{ url_for( 'static' , filename = 'media/shrek.gif' ) }}" alt="image" width="800" height="450"/></span></a>
        </div>

{% include 'viewFooter.html' %}